.menuWrapper{
    font-family: "Helvetica";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.45em;
    position:relative;
    margin:0px auto;
    height: 496px;
    width:932px;
    background-repeat:no-repeat;
    background-color:transparent;
    margin-bottom: 35px;
}
#menuWrapper ul.menu-slider{
    list-style:none;
    width: 935px;
}
#menuWrapper ul.menu-slider > li{
    float:left;
    width: 310px;
    height: 407px;
    border-right:1px solid #ffffff;
    background-repeat:no-repeat;
    background-color:transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#menuWrapper ul.menu-slider > li:first-child{
    background-position: left top!important;
}
#menuWrapper ul.menu-slider > li.last{
    border:none;
    background-position: right top!important;
}
#menuWrapper ul.menu-slider > li:nth-child(2){
    background-position: center top!important;
}
#menuWrapper .bg1{
}
#menuWrapper .bg2{
}
#menuWrapper .bg3{
}
#menuWrapper ul.menu-slider > li > a{
    float:left;
    width: 310px;
    height: 32px;
    margin-top: 427px;
    text-align:center;
    color:#4e2d28;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
    cursor:pointer;
    text-decoration:none;
    overflow: hidden;
    padding-bottom: 22px;
    z-index: 9999;
    position: relative;
}
#menuWrapper ul.menu-slider > li > a:hover{color: #F3553D;}
#menuWrapper ul.menu-slider > li ul{
    list-style:none;
    float:left;
    margin-top:-180px;
    width:100%;
    height:110px;
    padding-top:20px;
    background-repeat:no-repeat;
    background-color:transparent;
}
#menuWrapper ul.menu-slider > li ul li{
    display:none;
}
#menuWrapper ul.menu-slider > li ul.sub1{
    background-image:url(../images/bg1sub.png);
}
#menuWrapper ul.menu-slider > li ul.sub2{
    background-image:url(../images/bg2sub.png);
}
#menuWrapper ul.menu-slider > li ul.sub3{
    background-image:url(../images/bg3sub.png);
}
#menuWrapper ul.menu-slider > li ul li a{
    color:#fff;
    text-decoration:none;
    line-height:30px;
    margin-left:20px;
    text-shadow:1px 1px 1px #444;
    font-size:11px;
}
#menuWrapper ul.menu-slider> li ul.sub1 li{
    display:block;
}
#menuWrapper ul.menu-slider > li ul li a:hover{
    border-bottom:1px dotted #fff;
}

