/*
Theme Name: Landis 
Support URI: http://www.themeskingdom.com/
Description: Landis, a premium Wordpress theme by Themes Kingdom. Wordpress conversion by Themes Kingdom.
Author: Themes Kingdom
Author URI: http://www.themeskingdom.com/
Theme URI: http://www.themeskingdom.com/
Version: 1.3
Tags: red, blue, green, brown, fixed-width
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*--------------------------*/
/*------ css coontent ------*/
/*--------------------------*/

/*--[RESET]--*/
/*--[BODY]--*/
/*--[HELPERS]--*/
/*--[TIMER]--*/
/*--[404]--*/
/*--[CONTAINER]--*/
/*--[HEADER]--*/
/*--[FRONT-PAGE]--*/
/*----[front-page highlight]----*/
/*----[front-page content]----*/
/*--[FOOTER]--*/
/*----[copyright]----*/



/*---------[RESET]---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
*{
font-family:Helvetica;

}
a,img {
  outline: none!important;
}


/*---------[BODY]---------*/
body { font-size:11px; color:#414141; font-weight:normal; text-align:left; line-height:14px; cursor:default; background:transparent url(images/css/footer_bg.png); background-repeat:repeat;}
img {padding:0px; margin:0px; border:0px solid green;}
a {color:#3693B7; text-decoration: none;} a:hover {color:#3693B7; text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin-top:0; text-align: left; font-weight:normal;}
h1 {font-size:22px;}
h2 {font-size:20px; padding:15px 5px 10px 0px; color:#777777;}
h3{ font-size:18px; padding:13px 10px 3px 5px;  color:#777777;}
h4{ font-size:16px; padding:13px 10px 3px 5px;  color:#777777;}
h5{ font-size:14px; padding:5px 10px 3px 5px;  color:#777777;}
h6{ font-size:12px; padding:5px 10px 2px 5px;  color:#777777;}

/*--------[HELPERS]---------*/
.left {float:left;}
.right { float:right!important;}
*+html .right{float:left!important;}
.align_left {text-align:left;}
.align_center {text-align:center;}
.align_right {text-align:right;}
.show{display:none;}
/*----------[TIMER]---------*/
#countdowntext{
	font-family:'Droid Sans';
	font-size:18px;
	text-shadow:0px 2px 0px #000;
	color:#fff;
	line-height:30px;
	

}
.countdown{
	margin:23px auto;
	width:460px;
	height:93px;
	background:url(images/css/countdown.png) top center no-repeat;
	display:block;
	padding:18px 0 45px;
}
.countdown_section{
	width:115px;
	height:93px;
	float:left;
	text-align:center;
}
.countdown_amount{
	font-family:'Droid Sans';
	font-size:40px;
	font-weight:bold;
	color:#fff;
	line-height:40px;
}
.countdown_day{
	font-family:'Droid Sans';
	font-size:14px;
	text-transform:lowercase;
	color:#fff;
	
}
/*---------[404]----------*/
.page404{font-size:96px!important;color:#fbdc00!important;float:left;display:block;height:59px;margin:40px 0 0 0;}
.page404span{font-size:31px;font-family:Helvetica;text-align:center;float:left;width:80%;line-height:46px;text-shadow:0px 1px 0px #fcfcf9;color:#777777;}
/*---------[CONTAINER]---------*/
#container { width:961px; margin:0 auto 0 auto; text-align:left; }
.container { width:961px; margin:0px auto 0 auto; text-align:left; }

/*---------[HEADER]---------*/
#header-holder { width:100%; float:left; color:#fff; background-image:url(images/css/header_bg_red.png);background-repeat:repeat-x;}

#logo{margin:113px 0 45px 0; width:100%;text-align:center;  display:block;}
.Page_title{font-family:'Droid Sans';font-weight:bold;font-size:27px;text-shadow:0px 2px 0px #000;width:800px;text-align:center;padding:10px;margin:17px auto 30px auto;}
.Page_content{font-family:'Droid Sans';font-size:13px;width:560px;text-align:center;margin:0 auto;padding:0 0 56px 0;line-height:22px;color:#ffbda4;}

/*---------[FRONT-PAGE]---------*/

#front_page_container {width:100%; height:218px; margin:0 auto 0 auto; background:transparent url(images/css/page_bg_red.png); background-repeat:repeat;float:left;}



/*---------[front-page content]---------*/
	/*---[front-left-cell]---*/
#front_left_cell {float:left; margin:30px 0px 50px 0px;	width:973px;text-align:center; }


	/*---[front-right-cell]---*/
#front_right_cell {float:left; margin:10px 0px 50px 0px;width:280px; padding:0 20px 0 0;}


/*---------[FOOTER]---------*/
#footer *{
	font-family:Helvetica;
	
}
#footer {margin:0px 0px 0px 0px;text-align:center;background:transparent url(images/css/footer_bg.png) repeat top center ;clear:both;width:100%;float:left;font-family:Helvetica;height:400px;}
#footer_wrap{ margin:0px 0px 0px 0px; padding:0 0 0 0px!important;float:left;width:980px;width:980px\0/;}

.footer_box {float:left;color:#fff; margin:1px 30px 25px 8px; padding:0px 0px 0px 0px!important;width:207px; }
.footer_box ul {margin:0px 0px 25px 0px; width:206px;}


/*---------[copyright]---------*/
#copyright *{
	font-family:Helvetica;
	font-size:12px;
	color:#fff;
	line-height:18px;
}
#copyright {text-align:left; margin:0 auto 0 auto; background:transparent url(images/css/copyright_bg_red.png) repeat-x top center ;clear:both;width:100%;float:left;height:32px;padding:31px 0;}
#spreadtheword{background-image:url(images/css/spreadtheword.png);background-position:top center;background-repeat:no-repeat;width:227px;height:78px;margin:0 auto;padding:65px 0 0 24px;}
#copyright-wrap {width:961px;margin:0 auto;text-align:center;font-family:'Droid Sans';color:#8c8c8c;}


#copyright a, a:href{color:#000; display:inline; font-family:'Droid Sans'; }
#copyright a{color:#000!important;font-family:'Droid Sans';}


.wp-caption-text{}
.gallery-caption{}
.alignright{}
.alignleft{}
.aligncenter{}
.sticky{}
.bypostauthor{}